* {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
	--bg: var(--light-gradient-color);
	--font-size: 16px;
	/* TOGGLE BTN */
	--navbar-bg: var(--neutral-0);
	--toggle-theme-btn: var(--neutral-100);
	--toggle-theme-btn-hover: var(--neutral-300);
	--toggle-theme-btn-active: var(--neutral-200);

	/* MENU BTN */
	--menu-btn: var(--neutral-0);
	--menu-btn-hover: var(--neutral-100);
	--active-menu-btn: var(--red-500);
	--active-menu-btn-hover: var(--red-400);

	/* HEADING  */
	--heading1: var(--neutral-800);
	--heading2: var(--neutral-800);

	/* PARAGRAPH */
	--primary-fg: var(--neutral-800);
	--secondary-fg: var(--neutral-600);
	--third-fg: var(--neutral-0);

	/* CARD */
	--card-bg: var(--neutral-0);
	--remove-btn: var(--neutral-0);
	--remove-btn-hover: var(--red-700);
	--remove-btn-focus: var(--red-400);
	--remove-btn-active: var(--red-400);

	--toggle-btn: var(--red-700);
	--toggle-btn-hover: var(--red-500);
	--toggle-btn-focus: var(--red-400);
	--inactive-toggle-btn: var(--neutral-300);
	--inactive-toggle-btn-hover: var(--neutral-100);
	--inactive-toggle-btn-focus: var(--neutral-100);

	--none-border: none;
	--with-border: 1px solid var(--neutral-200);
	--none-shadow: none;
	--with-shadow: 0 2px 4px var(--neutral-200);
	--border: var(--with-border);
	--shadow: var(--with-shadow);

	/* FOCUS INDICATOR */
	--focus-btn: 2px solid var(--red-500);
	--focus-outline: 2px solid var(--red-400);
	--focus-border: 2px solid var(--neutral-0);
	--focus-toggle-theme-btn: var(--neutral-100);
	--focus-active-menu-btn: var(--red-700);
	--focus-remove-btn: var(--neutral-100);
	--focus-toggle-btn: var(--neutral-100);
	--focus-active-toggle-btn: var(--red-700);

	--red-400: hsl(3, 86%, 64%);
	--red-500: hsl(3, 71%, 56%);
	--red-700: hsl(3, 77%, 44%);
	--neutral-900: hsl(227, 75%, 14%);
	--neutral-800: hsl(226, 25%, 17%);
	--neutral-700: hsl(225, 23%, 24%);
	--neutral-600: hsl(226, 11%, 37%);
	--neutral-400: #7d828b;
	--neutral-300: hsl(0, 0%, 78%);
	--neutral-200: hsl(217, 61%, 90%);
	--neutral-100: hsl(0, 0%, 93%);
	--neutral-0: hsl(200, 60%, 99%);
	--light-gradient-color: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
	--dark-gradient-color: linear-gradient(180deg, #040918 0%, #091540 100%);
}

:root[data-theme='dark'] {
	--bg: var(--dark-gradient-color);
	--font-size: 16px;
	/* TOGGLE BTN */
	--navbar-bg: var(--neutral-800);
	--toggle-theme-btn: var(--neutral-700);
	--toggle-theme-btn-hover: var(--neutral-600);
	--toggle-btn-active: var(--neutral-200);

	/* MENU BTN */
	--menu-btn: var(--neutral-700);
	--menu-btn-hover: var(--neutral-600);
	--active-menu-btn: var(--red-500);
	--active-menu-btn-hover: var(--red-400);

	/* HEADING  */
	--heading1: var(--neutral-800);
	--heading2: var(--neutral-800);

	/* PARAGRAPH */
	--primary-fg: var(--neutral-0);
	--secondary-fg: var(--neutral-300);
	--third-fg: var(--neutral-800);

	/* CARD */
	--card-bg: var(--neutral-800);
	--remove-btn: var(--neutral-800);
	--remove-btn-hover: var(--red-400);
	--remove-btn-focus: var(--red-500);
	--remove-btn-active: var(--red-400);

	--toggle-btn: var(--red-400);
	--toggle-btn-hover: var(--red-500);
	--inactive-toggle-btn: var(--neutral-600);
	--inactive-toggle-btn-hover: var(--neutral-600);

	/* FOCUS INDICATOR */
	--focus-outline: 2px solid var(--red-400);
	--focus-border: 2px solid var(--neutral-800);
	--focus-toggle-theme-btn: var(--neutral-600);
	--focus-menu-btn: var(--neutral-600);
	--focus-active-menu-btn: var(--red-500);
	--focus-remove-btn: var(--neutral-600);
	--focus-toggle-btn: var(--neutral-200);
	--focus-active-toggle-btn: var(--red-700);

	--none-border: none;
	--with-border: 1px solid var(--neutral-600);
	--none-shadow: none;
	--border: var(--with-border);
	--navbar-border: var(--none-border);
	--shadow: none;
}

html,
body {
	min-height: 100vh;
}
html {
	background: var(--bg);
	background-repeat: no-repeat;
	background-attachment: cover;
	color: var(--primary-fg);
	padding: 20px;
}
body {
	font-family: 'Noto Sans', sans-serif;
	font-size: var(--font-size);
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.navbar {
	background: var(--navbar-bg);
	border-radius: 20px;
	padding: 12px;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	border: var(--navbar-border);
	box-shadow: var(--shadow);
	justify-content: space-between;
}

.navbar > div {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	gap: 10px;
}
.logo {
	width: 40px;
	height: 40px;
}

.logo > img {
	width: 40px;
	height: 40px;
	object-fit: cover;
	object-position: left;
}
.navbar > div h1 {
	margin: 0;
}
.toggle-theme-btn {
	background-color: var(--toggle-theme-btn);
	padding: 15px;
	align-items: center;
	display: grid;
	border-radius: 10px;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
	outline: none;
	border: none;
}

.toggle-theme-btn:hover {
	background-color: var(--toggle-theme-btn-hover);
}

.toggle-theme-btn:focus {
	background-color: var(--focus-toggle-theme-btn);
	outline: var(--focus-outline);
	border: var(--focus-border);
}
.sub-nav {
	display: grid;
	grid-auto-flow: row;
	align-items: center;
	justify-content: center;
}
.sub-nav > h1 {
	text-align: center;
}
.menu {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	gap: 10px;
	width: auto;
}

.menu > button {
	background-color: var(--menu-btn);
	color: var(--primary-fg);
	outline: none;
	border: none;
	border-radius: 30px;
	padding: 12px 24px;
	font-size: 1.1em;
	transition: background 0.2s ease-in-out;
	cursor: pointer;
	border: var(--border);
	box-shadow: var(--shadow);
}

.menu > button:hover {
	background-color: var(--menu-btn-hover);
}

.menu > button:focus {
	background-color: var(--focus-menu-btn);
	border: var(--focus-border);
	outline: var(--focus-btn);
}
.menu > button#active {
	background-color: var(--active-menu-btn);
	box-shadow: none;
	border: 0;
	color: var(--third-fg);
}
.menu > button#active:hover {
	background-color: var(--active-menu-btn-hover);
}
.menu > button#active:focus {
	background-color: var(--focus-active-menu-btn);
	outline: var(--focus-outline);
	border: var(--focus-border);
}
/* 

/* Main Content */

.content {
	display: flex;
	flex-direction: column;
	/* grid-template-columns: 1fr 1fr 1fr; */
	gap: 15px;
}
.content-item {
	background-color: var(--card-bg);
	border-radius: 10px;
	padding: 15px;
	display: grid;
	grid-auto-flow: row;
	gap: 20px;
	min-height: 200px;
	min-width: 250px;
	width: 100%;
	height: 100%;
	border: var(--border);
	box-shadow: var(--shadow);
}

.content-img {
	display: flex;
	gap: 20px;
	margin: 0;
	align-items: start;
}
.content-img > img {
	height: 70px;
}
.content-img > figcaption {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
}
.content-img > figcaption > h2 {
	margin: 0;
	font-size: 20px;
}
.content-img > figcaption > p {
	font-size: var(--font-size);
	color: var(--secondary-fg);
	margin: 0;
}

.content-footer {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
	align-self: self-end;
}

.btn-remove {
	background-color: var(--remove-btn);
	color: var(--primary-fg);
	font-size: 16px;
	border: 0;
	padding: 8px 14px;
	border-radius: 20px;
	transition: background 0.2s ease-in-out;
	border: var(--border);
	cursor: pointer;
}
.btn-remove:hover {
	background-color: var(--remove-btn-hover);
	color: var(--third-fg);
}
.btn-remove:focus {
	background-color: var(--focus-remove-btn);
	outline: var(--focus-outline);
	border: var(--focus-border);
}
.btn-toggle {
	border: 0;
	padding: 3px;
	border-radius: 20px;
	width: 40px;
	height: 23px;
	display: grid;
	transition: background 0.2s ease-in-out;
	cursor: pointer;
}

.btn-toggle:focus {
	outline: var(--focus-outline);
	border: var(--focus-border);
	height: 27px;
}

#on {
	background-color: var(--toggle-btn);
}
#on:hover {
	background-color: var(--toggle-btn-hover);
}
#off {
	background-color: var(--inactive-toggle-btn);
}
#off:hover {
	background-color: var(--inactive-toggle-btn-hover);
}

.circle {
	width: 17px;
	height: 17px;
	border-radius: 100%;
	background-color: rgb(255, 255, 255);
}

#on > .circle {
	justify-self: end;
}

#off .circle {
	justify-self: start;
}

@media (min-width: 768px) {
	body {
		width: 100%;
	}
	.content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		flex-wrap: wrap;
	}
	.sub-nav {
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		justify-content: space-between;
	}
	.sub-nav > h2 {
		text-align: center;
	}
}
